$icomoon-font-path: "/fileadmin/static/public/icon-fonts/fonts" !default;

$icon-fax: "\46";
$icon-users: "\55";
$icon-downloadCircle: "\61";
$icon-photo: "\49";
$icon-globe: "\67";
$icon-star: "\57";
$icon-newsletter: "\58";
$icon-pdfCircle: "\47";
$icon-partner: "\56";
$icon-video: "\4d";
$icon-zip: "\52";
$icon-partners: "\e900";
$icon-order: "\6f";
$icon-down: "\64";
$icon-left: "\6c";
$icon-right: "\72";
$icon-up: "\75";
$icon-box: "\62";
$icon-check: "\63";
$icon-download: "\44";
$icon-finder: "\66";
$icon-close-light: "\43";
$icon-hands: "\68";
$icon-info: "\69";
$icon-lang: "\4c";
$icon-news: "\6e";
$icon-mail: "\6d";
$icon-next: "\4e";
$icon-pdf: "\70";
$icon-phone: "\74";
$icon-pin: "\50";
$icon-play: "\76";
$icon-quotes-open: "\71";
$icon-quotes-close: "\7a";
$icon-diagram: "\73";
$icon-storelocator: "\53";
$icon-wishlist: "\77";
$icon-close: "\78";
$icon-zoom: "\5a";

