.middle-accordion {

    .content-accordion {
        display: none;
    }

    .open-accordion {
        cursor: pointer;
        position: relative;
        padding: 10px 0;
        border-top: $default-border;

        .accordion-header {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 50px);

            p {
                margin-bottom: 0;
                max-width: 800px;
            }
        }

        [class*='icon-'] {
            width: 44px;
            height: 44px;
            line-height: 44px;
            background: #F0F0F0;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            color: $color-red;
            border-radius: 50%;
            @include transition(all 0.25s linear);
            font-size: inherit;
            margin: 0;
        }

        &:hover {

            [class*='icon-'] {
                background: $color-red;
                color: #ffffff;
                @include transition(all 0.25s linear);
            }
        }

        &.active {

            [class*='icon-'] {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
}

