h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; 
    font-family: $headings-font;
    font-weight: $headings-font-weight;
    color: #000000;
    line-height: 1.2;
}
h1 {
    font-size: 50px;
    margin-bottom: 30px;

    @include maxWidth(1024px) {
        font-size: 35px;
    }
    @include maxWidth(768px) {
        font-size: 30px;
    }
}
h2 {
    font-size: 30px;
    margin-bottom: 35px;

    @include maxWidth(1024px) {
        font-size: 28px;
    }
    @include maxWidth(768px) {
        font-size: 24px;
    }
}
h3 {
    font-size: 24px;
    margin-bottom: 35px;

    @include maxWidth(1024px) {
        font-size: 22px;
    }
    @include maxWidth(680px) {

    }
}
h4 {
    font-size: 22px;
    margin-bottom: 35px;

    @include maxWidth(1024px) {
        font-size: 20px;
    }
    @include maxWidth(680px) {

    }
}
h5 {
    font-family: $subHeadings-font;
    font-size: 18px;
    font-style: italic;
    color: $color-red;
    margin-bottom: 15px;

    @include maxWidth(1024px) {

    }
    @include maxWidth(680px) {

    }
}
h6 {
    font-size: 16px;
    margin-bottom: 15px;
    @include maxWidth(1024px) {

    }
    @include maxWidth(680px) {

    }
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: inherit;
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    color: inherit;
}
p {
    @include text-default();
    line-height: 24px;
    margin: 0 0 20px 0;
    max-width: 900px;
    a {
        color: $color-red;
        font-family: inherit;
        font-size:inherit;
        font-weight:inherit;
        line-height:inherit;
        &:hover {
            color: $paragraph-color;
        }
    }
}
b {
    font-weight: $font-weight-bold;
}

a {
    font-size: $default-font-size;
    font-weight: $font-weight-normal;
    color: $color-red;
    text-decoration: none;
    &:hover {
        color: $paragraph-color;
    }
}